@import url("https://use.typekit.net/xtr6tty.css");
body, h1, h2, h3, h4, h4, h6, p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 5px;
}

body {
  font-family: odisseia, sans-serif;
}

h1 {
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.slide {
  color: #fff;
  background-color: #111;
  position: relative;
  height: 660px;
  text-align: center;
}

.slide .menu_burger {
  position: absolute;
  top: 15px;
  left: 15px;
}

.slide .menu_burger img {
  height: 34px;
}

.slide .menu_burger p {
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.slide .slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.slide .slogan p {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.project {
  text-align: center;
  padding-bottom: 30px;
}

.project h1 {
  margin-top: 26px;
}

.project .card {
  margin: 0 auto;
  margin-top: 16px;
  width: 300px;
  height: 424px;
  border-radius: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 10px 10px 20px;
          box-shadow: rgba(0, 0, 0, 0.16) 10px 10px 20px;
}

.project .card__header {
  position: relative;
  border-radius: 25px 25px 0 0;
  background-color: #D4D4D4;
  width: 300px;
  height: 165px;
}

.project .card__header__tickets {
  position: absolute;
  bottom: 9px;
}

.project .card__header__tickets > div {
  display: inline-block;
  font-size: 2.4rem;
  color: #fff;
  font-weight: 600;
  font-style: italic;
  width: 55px;
  padding: 2px 0;
  border-radius: 7px;
  margin-left: 18px;
}

.project .card__header__tickets__php {
  background-color: #6E86FF;
}

.project .card__header__tickets__js {
  background-color: #FFE26E;
}

.project .card__body {
  border-radius: 0 0 25px 25px;
  width: 300px;
  height: 259px;
}

.project .card__body h2 {
  margin: 14px 0;
}

.project .card__body p {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0 15px;
}

.project h2 {
  font-weight: 400;
}

.contact {
  background-color: #111;
  height: 900px;
  color: #fff;
  padding-top: 32px;
}

.contact h1 {
  text-align: center;
  margin-bottom: 49px;
}

.contact label {
  display: block;
  margin: 0 auto;
  width: 90%;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 13px;
}

.contact input {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 49px;
  outline: none;
}

.contact textarea {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 250px;
  outline: none;
}
