@import url("https://use.typekit.net/xtr6tty.css");

$font_size_very_little : 2rem; // 10px -> Très petite
$font_size_little : 2.4rem; // 12px -> Petite
$font_size_medium : 4rem; // 20px -> Moyenne
$font_size_large : 5rem; // 25px -> Grande
$font_size_very_large : 6rem; // 30px -> Très grande

@mixin center_form {
    display: block;
    margin: 0 auto;
    width: 90%;
}

@mixin stat_bar($color, $percentage, $size: 450px){
    @if(min-width: 900px){
        $size: 50vw;
    }
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    text-transform: uppercase;
    width: 75px;
    p{
        font-size: 3.6rem;
        @media (min-width: 900px){
            text-align: right;
            transform: rotate(-90deg);
            margin-top: 50px;
        }
    }
    &__bar{
        position: relative;
        margin: 0 auto;
        width: 38px;
        height: $size;
        background-color: #222;
        &::before{
            position: absolute;
            bottom: 0;
            display: block;
            content: '';
            width: 100%;
            height: $percentage;
            background-color: $color;
        }
    }
}
body,h1,h2,h3,h4,h4,h6,p{
    margin: 0;
    padding: 0;
}

html{
    font-size: 5px;
}
body, input, textarea{
    font-family: odisseia, sans-serif;
}
h1{
    font-size: $font_size_very_large;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h2{
    font-size: $font_size_large;
    font-weight: 300;
    letter-spacing: 1px;
}
header{
    color: #fff;
    background-color: #111;
    .menu_burger{
        position: absolute;
        top: 15px;
        left: 15px;
        img{
            height: 34px;
        }
        p{
            text-align: center;
            font-size: $font_size_very_little;
            font-weight: 300;
            letter-spacing: 1px;
        }
    }
    .navigation-manual{
        display: block;
        z-index: 1000;
        margin: 0 auto;
        position: absolute;
        top: 600px;
        left: 50%;
        transform: translateX(-50%);
    }
    .manual-btn{
        z-index: 1000;
        border: 3px solid #fff;
        padding: 2px 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
        &:not(:last-child){
            margin-right: 40px;
        }
        &:hover{
            background-color: #fff;
        }
    }
}
.slider{
    position: relative;
    height: 660px;
    text-align: center;
    input{
        display: none;
    }
    .slides{
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        .slide{
            z-index: 100;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            min-width: 100vw;
            transition: 1.5s;
            p{
                font-size: $font_size_little;
                font-weight: 300;
                letter-spacing: 1px;
            }
        }
        .presentation{
            text-align: left;
            margin: 0 auto;
            max-width: 340px;
            h2{
                margin-bottom: 31px;
            }
        }
        .skills{
            h2{
                position: absolute;
                top: 75px;
                margin-left: 50%;
                transform: translateX(-50%);
            }
            &__block{
                display: flex;
                align-self: center;
                .html{
                    @include stat_bar(#F89D61, 96%);
                }
                .css{
                    @include stat_bar(#64BCFF, 92%);
                }
                .php{
                    @include stat_bar(#6E86FF, 55%);
                }
                .sql{
                    @include stat_bar(#fff, 53%);
                }
                .js{
                    @include stat_bar(#FFE26E, 30%);
                }
            }
        }
    }
}

#radio1:checked ~ .slogan{
    margin-left: 0;
}
#radio2:checked ~ .slogan{
    margin-left: -100vw;
}
#radio3:checked ~ .slogan{
    margin-left: -200vw;
}

.project{
    text-align: center;
    padding-bottom: 30px;
    h1{
        margin-top: 26px;
    }
    .card{
        margin: 0 auto;
        margin-top: 16px;
        width: 300px;
        height: 424px;
        border-radius: 25px;
        box-shadow: rgba($color: #000000, $alpha: 0.16) 10px 10px 20px;
        &__header{
            position: relative;
            border-radius: 25px 25px 0 0;
            background-color: #D4D4D4;
            width: 300px;
            height: 165px;
            &__tickets{
                position: absolute;
                bottom: 9px;
                >div{
                    display: inline-block;
                    font-size: $font_size_little;
                    color: #fff;
                    font-weight: 600;
                    font-style: italic;
                    width: 55px;
                    padding: 2px 0;
                    border-radius: 7px;
                    margin-left: 18px;
                }
                &__php{
                    background-color: #6E86FF;
                }
                &__js{
                    background-color: #FFE26E;
                }
            }
        }
        &__body{
            border-radius: 0 0 25px 25px;
            width: 300px;
            height: 259px;
            h2{
                margin: 14px 0;
            }
            p{
                font-size: $font_size_little;
                font-weight: 400;
                letter-spacing: 1px;
                padding: 0 15px;
            }
        }
    }
    h2{
        font-weight: 400;
    }
}

.contact{
    background-color: #111;
    padding-bottom: 125px;
    color: #fff;
    padding-top: 32px;
    h1{
        text-align: center;
        margin-bottom: 49px;
    }
    label{
        @include center_form();
        font-size: $font_size_medium;
        font-weight: 400;
        letter-spacing: 2px;
        margin-top: 20px;
        margin-bottom: 13px;
    }
    input{
        @include center_form();
        font-size: $font_size_large;
        width: 100%;
        height: 49px;
        outline: none;
    }
    textarea{
        @include center_form();
        font-size: $font_size_medium;
        width: 100%;
        height: 250px;
        outline: none;
    }
}