RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

#<FilesMatch \.php$>
#SetHandler application/x-httpd-php80
#</FilesMatch>
#AddHandler application/x-httpd-php80 .php

<Files 403.shtml>
order allow,deny
allow from all
</Files>