@import url("https://use.typekit.net/xtr6tty.css");
body, h1, h2, h3, h4, h4, h6, p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 5px;
}

body, input, textarea, button {
  font-family: odisseia, sans-serif;
}

h1 {
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 1px;
}

header {
  color: #fff;
  background-color: #111;
}

header .navigation-manual {
  z-index: 1000;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 600px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .manual-btn {
  z-index: 100;
  border: 3px solid #fff;
  padding: 2px 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

header .manual-btn:not(:last-child) {
  margin-right: 40px;
}

header .manual-btn:hover {
  background-color: #fff;
}

.slide p {
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.slider {
  position: relative;
  height: 660px;
  text-align: center;
  overflow: hidden;
}

.slider input {
  display: none;
}

.slider .slides {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
}

.slider .slides .slide {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  min-width: 100vw;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.slider .slides .presentation {
  text-align: left;
  margin: 0 auto;
  max-width: 340px;
}

.slider .slides .presentation h2 {
  margin-bottom: 31px;
}

.slider .slides .skills h2 {
  position: absolute;
  top: 75px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider .slides .skills__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.slider .slides .skills__block .html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-line-pack: center;
      align-content: center;
  text-transform: uppercase;
  width: 75px;
}

.slider .slides .skills__block .html p {
  font-size: 3.6rem;
  font-weight: 400;
}

@media (min-width: 900px) {
  .slider .slides .skills__block .html p {
    text-align: right;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin-top: 50px;
  }
}

.slider .slides .skills__block .html__bar {
  position: relative;
  margin: 0 auto;
  width: 38px;
  height: 50vw;
  background-color: #222;
}

.slider .slides .skills__block .html__bar::before {
  position: absolute;
  bottom: 0;
  display: block;
  content: '';
  width: 100%;
  height: 96%;
  background-color: #F89D61;
}

.slider .slides .skills__block .css {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-line-pack: center;
      align-content: center;
  text-transform: uppercase;
  width: 75px;
}

.slider .slides .skills__block .css p {
  font-size: 3.6rem;
  font-weight: 400;
}

@media (min-width: 900px) {
  .slider .slides .skills__block .css p {
    text-align: right;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin-top: 50px;
  }
}

.slider .slides .skills__block .css__bar {
  position: relative;
  margin: 0 auto;
  width: 38px;
  height: 50vw;
  background-color: #222;
}

.slider .slides .skills__block .css__bar::before {
  position: absolute;
  bottom: 0;
  display: block;
  content: '';
  width: 100%;
  height: 92%;
  background-color: #64BCFF;
}

.slider .slides .skills__block .php {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-line-pack: center;
      align-content: center;
  text-transform: uppercase;
  width: 75px;
}

.slider .slides .skills__block .php p {
  font-size: 3.6rem;
  font-weight: 400;
}

@media (min-width: 900px) {
  .slider .slides .skills__block .php p {
    text-align: right;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin-top: 50px;
  }
}

.slider .slides .skills__block .php__bar {
  position: relative;
  margin: 0 auto;
  width: 38px;
  height: 50vw;
  background-color: #222;
}

.slider .slides .skills__block .php__bar::before {
  position: absolute;
  bottom: 0;
  display: block;
  content: '';
  width: 100%;
  height: 55%;
  background-color: #6E86FF;
}

.slider .slides .skills__block .sql {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-line-pack: center;
      align-content: center;
  text-transform: uppercase;
  width: 75px;
}

.slider .slides .skills__block .sql p {
  font-size: 3.6rem;
  font-weight: 400;
}

@media (min-width: 900px) {
  .slider .slides .skills__block .sql p {
    text-align: right;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin-top: 50px;
  }
}

.slider .slides .skills__block .sql__bar {
  position: relative;
  margin: 0 auto;
  width: 38px;
  height: 50vw;
  background-color: #222;
}

.slider .slides .skills__block .sql__bar::before {
  position: absolute;
  bottom: 0;
  display: block;
  content: '';
  width: 100%;
  height: 53%;
  background-color: #fff;
}

.slider .slides .skills__block .js {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-line-pack: center;
      align-content: center;
  text-transform: uppercase;
  width: 75px;
}

.slider .slides .skills__block .js p {
  font-size: 3.6rem;
  font-weight: 400;
}

@media (min-width: 900px) {
  .slider .slides .skills__block .js p {
    text-align: right;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin-top: 50px;
  }
}

.slider .slides .skills__block .js__bar {
  position: relative;
  margin: 0 auto;
  width: 38px;
  height: 50vw;
  background-color: #222;
}

.slider .slides .skills__block .js__bar::before {
  position: absolute;
  bottom: 0;
  display: block;
  content: '';
  width: 100%;
  height: 30%;
  background-color: #FFE26E;
}

#radio1:checked ~ .slogan {
  margin-left: 0;
}

#radio2:checked ~ .slogan {
  margin-left: -100vw;
}

#radio3:checked ~ .slogan {
  margin-left: -200vw;
}

.project {
  text-align: center;
  padding-bottom: 30px;
}

.project h1 {
  margin-top: 26px;
}

.project .card {
  margin: 0 auto;
  margin-top: 16px;
  width: 300px;
  height: 424px;
  border-radius: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 10px 10px 20px;
          box-shadow: rgba(0, 0, 0, 0.16) 10px 10px 20px;
}

.project .card a {
  color: #111;
  text-decoration: none;
}

.project .card__header {
  position: relative;
  border-radius: 25px 25px 0 0;
  background-color: #D4D4D4;
  width: 300px;
  height: 165px;
}

.project .card__header__tickets {
  position: absolute;
  bottom: 9px;
}

.project .card__header__tickets > div {
  display: inline-block;
  font-size: 2.4rem;
  color: #fff;
  font-weight: 600;
  font-style: italic;
  width: 55px;
  padding: 2px 0;
  border-radius: 7px;
  margin-left: 18px;
}

.project .card__header__tickets__php {
  background-color: #6E86FF;
}

.project .card__header__tickets__js {
  background-color: #FFE26E;
}

.project .card__body {
  border-radius: 0 0 25px 25px;
  width: 300px;
  height: 259px;
}

.project .card__body h2 {
  margin: 14px 0;
}

.project .card__body p {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0 15px;
}

.project h2 {
  font-weight: 400;
}

.contact {
  padding-bottom: 125px;
  color: #111;
  padding-top: 32px;
}

.contact h1 {
  text-align: center;
  margin-bottom: 49px;
}

.contact label {
  display: block;
  margin: 0 auto;
  width: 90%;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 13px;
}

.contact input {
  display: block;
  margin: 0 auto;
  width: 90%;
  font-size: 5rem;
  width: 100%;
  height: 49px;
  outline: none;
  border: none;
  background-color: #eee;
}

.contact textarea {
  display: block;
  margin: 0 auto;
  width: 90%;
  font-size: 4rem;
  width: 100%;
  height: 250px;
  outline: none;
  border: none;
  background-color: #eee;
}

.contact button {
  cursor: pointer;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #111;
  border: none;
  width: 100px;
  height: 35px;
  background-color: transparent;
  border: 2px solid #111;
  border-radius: 10px;
}
