@media (min-width: 900px) {
    @import 'tools';
    h1{
        font-size: $font_size_extremely_large;
    }
    .slogan{
        h2{
            font-size: $font_size_extremely_large;
        }
        p{
            font-size: $font_size_medium;
        }
    }
    .skills{
        &__block{
            display: flex;
            align-self: center;
            transform: rotate(90deg);
        }
    }
    .cards{
        display: flex;
        margin: 16px auto 0 auto;
        max-width: 1100px;
    }
    .contact{
        form{
            position: relative;
            display: grid;
            grid-template:  "left right"
                            "left right"
                            "msg msg";
            margin: 0 auto;
            row-gap: 20px;
            column-gap: 200px;
            label{
                width: 100%;
                margin: 0 auto;
            }
            label[for=message], textarea{
                grid-area: msg;
            }
            button{
                position: absolute;
                bottom: -60px;
            }
        }
    }
}