$font_size_very_little : 2rem; // 10px -> Très petite
$font_size_little : 2.4rem; // 12px -> Petite
$font_size_medium : 4rem; // 20px -> Moyenne
$font_size_large : 5rem; // 25px -> Grande
$font_size_very_large : 6rem; // 30px -> Très grande
$font_size_extremely_large : 8rem; // 40px -> Extremement grande

$color_btn: rgb(50, 50, 50);