//Colors
$color-white-disabled: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 96%);
$color-white-active: hsl(0, 0%, 93%);

$color-gray-disabled: hsl(0, 0%, 91%);
$color-gray: hsl(0, 0%, 85%);
$color-gray-active: hsl(0, 0%, 75%);

$color-dark-disabled: hsl(0, 0%, 25%);
$color-dark: hsl(0, 0%, 20%);
$color-dark-active: hsl(0, 0%, 15%);

$color-primary-disabled: hsl(202, 52%, 55%);
$color-primary: hsl(202, 52%, 49%);
$color-primary-active: hsl(202, 51%, 43%);

$color-danger-disabled: hsl(8, 89%, 71%);
$color-danger: hsl(8, 89%, 65%);
$color-danger-active: hsl(8, 89%, 59%);

$main-color-disabled: hsl(167, 93%, 36%);
$main-color: hsl(167, 93%, 30%);
$main-color-active: hsl(167, 93%, 24%);
$color-dark: #1D2231;
$text-gray: #8390A2;
$text-gray-active: hsl(215, 14%, 40%);