//import font
@import 'adminTools.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
#login{
    background-color: #d2d6de;
    section{
        padding: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        h2{
            font-size: 2.5rem;
            margin-bottom: 16px;
        }
        input{
            display: block;
            width: 100%;
        }
    }
}

// NAVBAR
.admin{
    header{
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        position: fixed;
        left: 345px;
        width: calc(100% - 345px);
        top: 0;
        right: 0;
        z-index: 100;
        transition: left 300ms, width 300ms;
        background-color: #fff;
        h2{
            color: #222;
        }
        label{
            cursor: pointer;
            i{
                font-size: 1.7rem;
                padding-right: 1rem;
            }
        }
        .search-wrapper{
            border: 1px solid #ccc;
            border-radius: 30px;
            height: 50px;
            display: flex;
            align-items: center;
            overflow-x: hidden;
            i{
                display: inline-block;
                padding: 0 1rem;
                font-size: 1.5rem;
            }
            input{
                height: 100%;
                padding: .5rem;
                border: none;
                outline: none;
            }
        }
        .user-wrapper{
            display: flex;
            align-items: center;
            img{
                border-radius: 50%;
                margin-right: 1rem;
            }
            small{
                display: inline-block;
                color: $text-gray;
            }
        }
    }
    #nav-toggle:checked + .sidebar{
        width: 70px;
    }
    #nav-toggle:checked + .sidebar .sidebar__brand a:first-child,
    #nav-toggle:checked + .sidebar li a span:last-child{
        display: none;
    }
    #nav-toggle:checked + .sidebar .sidebar__brand h2:last-child{
        display: block;
    }

    #nav-toggle:checked ~ .main-content{
        margin-left: 70px;
    }
    #nav-toggle:checked ~ .main-content header{
        width: calc(100% - 70px);
        left: 70px;
    }

    #nav-toggle{
        display: none;
    }
    .sidebar{
        width: 345px;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        background-color: $main-color;
        z-index: 100;
        transition: width 300ms;
        &__brand{
            height: 90px;
            padding: 1rem 0rem 1rem 1.4rem;
            a{
                color: #fff;
            }
            .hidden{
                display: none;
            }
        }
        &__menu{
            margin-top: 1rem;
            li{
                width: 100%;
                margin-bottom: .5rem;
                padding-left: .5rem;
            }
            a{
                padding-left: 1rem;
                display: block;
                color: #fff;
                font-size: 1.1rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                border-radius: 30px 0 0 30px;
                transition: background 100ms;
                &.active{
                    background-color: #fff;
                    color: $main-color;
                }
                &:hover:not(.active){
                    background-color: #fff;
                    color: $main-color;
                    transition: background 100ms;
                }
                i{
                    font-size: 1.5rem;
                    padding-right: 1rem;
                }
            }
        }
    }
    .main-content{
        transition: margin-left 300ms;
        margin-left: 345px;
    }
}

// CARDS
main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background-color: #f1f5f9;
    min-height: calc(100vh - 90px);
    .cards{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 2rem;
        margin-top: 1rem;
        .card-single{
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            padding: 2rem;
            border-radius: 2px;
            div i{
                font-size: 3rem;
                color: $main-color;
            }
            div span{
                color: $text-gray;
            }
            &:last-child{
                background-color: $main-color;
                h1, div i,div span{
                    color: #fff;
                }
            }
        }
    }
}

//PANELS DASHBOARD
.recent-grid{
    margin-top: 3.5rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 65% auto;
    .card{
        &__body{
            .customer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: .5rem .7rem;
            }
            .info{
                display: flex;
                align-items: center;
                img{
                    border-radius: 50%;
                    margin-right: 1rem;
                }
                h4{
                    font-size: .8rem;
                    font-weight: 700;
                    color: #222;
                }
                small{
                    font-weight: 600;
                    color: $text-gray;
                }
            }
            .contact{
                i{
                    font-size: 1.2rem;
                    display: inline-block;
                    margin-left: .5rem;
                    color: $main-color;
                }
            }
        }
    }
}

// RECENT PROJECTS
.projects{
    .table-responsive{
        width: 100%;
        overflow-x: auto;
    }
}


// EDIT PROJECTS
.edit_project{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}


// REPONSIVE DASHBOARD
@media only screen and (max-width: 1200px){
    .admin{

        .sidebar{
            width: 70px;
        }
        .sidebar .sidebar__brand h2:first-child,
        .sidebar li a span:last-child{
            display: none;
        }
        .sidebar .sidebar__brand h2:last-child{
            display: block;
        }
        
        .main-content{
            margin-left: 70px;
        }
        .main-content header{
            width: calc(100% - 70px);
            left: 70px;
        }
    }
}

@media only screen and (max-width: 960px){
    main{
        .cards{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .recent-grid{
        grid-template-columns: 60% 40%;
    }
}

@media only screen and (max-width: 768px){
    main{
        .cards{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .recent-grid{
        grid-template-columns: 100%;
    }
    .admin header .search-wrapper{
        display: none;
    }
}

@media only screen and (max-width: 600px){
    main{
        margin-top: 70px;
        padding: 2rem 1rem;
    }
    .admin{
        header{
            z-index: 300;
            width: 100%;
            left: 0;
            h2{
                display: flex;
                align-items: center;
                label{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $main-color;
                    padding-right: 0rem;
                    margin-right: 1rem;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    color: #fff;
                }
                i{
                    padding-right: 0rem;
                }
            }
        }
        .sidebar{
            left: -100%;
        }
        .main-content{
            width: 100%;
            margin-left: 0rem;
            header{
                width: 100%;
                left: 0;
                h2{
                    font-size: 1.1rem;
                }
            }
        }
        #nav-toggle:checked + .sidebar{
            left: 0;
            z-index: 100;
            width: 345px;
            width: 345px;
            z-index: 200;
            box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.2);
        }
        #nav-toggle:checked ~ .main-content header{
            left: 0;
        }
        #nav-toggle:checked + .sidebar .sidebar__brand h2:first-child,
        #nav-toggle:checked + .sidebar li a span:last-child{
            display: inline;
        }
        #nav-toggle:checked + .sidebar .sidebar__brand h2:last-child{
            display: none;
        }
        #nav-toggle:checked ~ .main-content header{
            margin-left: 0rem;
        }
    }
    
    main{
        .cards{
            grid-template-columns: 100%;
        }
    }
}