@import 'adminTools.scss';

//Panel
.panel{
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    table{
        border-collapse: collapse;
        width: 100%;
        thead{
            tr{
                border-top: 1px solid #f0f0f0;
                border-bottom: 2px solid #f0f0f0;
            }
            td{
                padding: .5rem 1rem;
                font-weight: 700;
            }
        }
        tbody{
            tr{
                transition: background 200ms;
                a{
                    padding: .5rem 1rem;
                    display: block;
                    color: #222;
                    font-size: .9rem;
                }
                td:last-child{
                    display: flex;
                    align-items: center;
                }
                &:hover{
                    background-color: rgba(0, 0, 0, 0.1);
                    transition: background 200ms;
                }
            }
        }
    }
    &__header{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #f0f0f0;
        .btn{
            margin-top: 0;
        }
    }
    &__body{
        padding: 1rem;
        &.img{
            align-items: center;
            [type=file]{
                display: none;
            }
        }
        .img__label{
            position: relative;
            display: block;
            border: 1px solid $color-gray;
            padding: 5px 8px;
            font-weight: 500;
            border-radius: 3px;
            cursor: pointer;
            color: $text-gray;
            transition: border-color 200ms, color 200ms;
            &::after{
                content: 'Browse';
                position: absolute;
                top: 0;
                right: 0;
                color: #fff;
                background-color: $main-color;
                padding: 5px 8px;
                border-radius: 0 3px 3px 0;
                transition: background 200ms;
            }
            &:hover{
                border-color: $color-gray-active;
                color: $text-gray-active;
                transition: border-color 200ms, color 200ms;
                &::after{
                    background-color: $main-color-active;
                    transition: background 200ms;
                }
            }
        }
        img{
            display: block;
            border-radius: 3px;
            max-width: 400px;
            margin-bottom: 15px;
        }
        form{
            &.flex{
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
@media only screen and (max-width: 900px) {
    .panel-mobile{
        &>div{
            grid-template-columns: repeat(1, 1fr);
            .panel__body img{
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 600px){
    .mobile{
        .panel__header{
            border: none;
        }
        table, thead, tbody, th, td, tr{
            display: block;
        }
        thead tr{
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        tr{
            border: 1px solid #e0e0e0;
            margin: -1px 10px 0 10px;
        }
        td{
            border: none;
            position: relative;
            padding-left: 50%;
            white-space: normal;
            text-align: left;
            &::before{
                content: attr(data-title);
                position: absolute;
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                text-align: left;
                font-weight: 600;
            }
        }
    }
}

//Formulaire
.fields{
    margin-bottom: 15px;
    label{
        display: block;
        font-weight: 700;
        &.header{
            background-color: rgba($color: $main-color, $alpha: 0.3);
            border: 1px solid rgba($color: $main-color-active, $alpha: 0.15);
            border-radius: 3px 3px 0 0;
            padding: 6px 12px;
            +input.allWidth{
                width: 100%;
            }
        }
    }
    input, textarea{
        font-size: 1rem;
        padding: 5px 8px;
        margin-top: 5px;
        outline: none;
        border: 1px solid $color-gray;
        border-radius: 3px;
        box-sizing: border-box;
        transition: border-color 300ms;
        &:focus{
            border-color: rgba($color: $main-color-disabled, $alpha: .75);
            transition: border-color 300ms;
        }
    }
    input{
        width: 300px;
    }
    textarea{
        height: 200px;
        width: 100%;
        resize: none;
    }
}

.checkbox{
    margin-bottom: 10px;
    display: inline-block;
    [type=checkbox]{
        display: none;
    }
    label{
        margin-left: 10px;
        background-color: $text-gray;
        border: 1px solid $text-gray-active;
        padding: .05rem .4rem;
        border-radius: 25px;
        user-select: none;
        cursor: pointer;
    }
    [for=html-css]{
        background-color: rgba($color: #35aecc, $alpha: .05);
        border-color: rgba($color: #35aecc, $alpha: .075);
    }
    [for=js]{
        background-color: rgba($color: #dadd35, $alpha: .05);
        border-color: rgba($color: #dadd35, $alpha: .075);
    }
    [for=jsx]{
        background-color: rgba($color: #16c7f3, $alpha: .05);
        border-color: rgba($color: #16c7f3, $alpha: .075);
    }
    [for=php]{
        background-color: rgba($color: #2e5dc4, $alpha: .05);
        border-color: rgba($color: #2e5dc4, $alpha: .075);
    }
    [for=sql]{
        background-color: rgba($color: #aa611d, $alpha: .05);
        border-color: rgba($color: #aa611d, $alpha: .075);
    }
    [for=cpp]{
        background-color: rgba($color: #1d43aa, $alpha: .05);
        border-color: rgba($color: #1d43aa, $alpha: .075);
    }
    [type=checkbox]:checked{
        +[for=html-css]{
            background-color: rgba($color: #35aecc, $alpha: .65);
            border-color: rgba($color: #35aecc, $alpha: 1);
        }
        +[for=js]{
            background-color: rgba($color: #dadd35, $alpha: .65);
            border-color: rgba($color: #dadd35, $alpha: 1);
        }
        +[for=jsx]{
            background-color: rgba($color: #16c7f3, $alpha: .65);
            border-color: rgba($color: #16c7f3, $alpha: 1);
        }
        +[for=php]{
            background-color: rgba($color: #2e5dc4, $alpha: .65);
            border-color: rgba($color: #2e5dc4, $alpha: 1);
        }
        +[for=sql]{
            background-color: rgba($color: #aa611d, $alpha: .65);
            border-color: rgba($color: #aa611d, $alpha: 1);
        }
        +[for=cpp]{
            background-color: rgba($color: #1d43aa, $alpha: .65);
            border-color: rgba($color: #1d43aa, $alpha: 1);
        }
    }
}
.labelBtnCheck{
    font-weight: 800;
}
.btnCheck{
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    width: 75px;
    height: 36px;
    overflow: hidden;
    border-radius: 100px;
    [type=checkbox]{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
        &:active + .knobs:before
        {
            width: 46px;
            border-radius: 100px;
        }
        &:checked:active + .knobs:before
        {
            margin-left: -26px;
        }
        &:checked + .knobs:before
        {
            content: 'YES';
            left: 42px;
            background-color: #03A9F4;
        }
        &:checked ~ .layer
        {
            background-color: #ebf7fc;
        }
    }
    .knobs{
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        &:before{
            content: 'NO';
            position: absolute;
            top: 4px;
            left: 4px;
            width: 20px;
            height: 10px;
            color: #fff;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
            line-height: 1;
            padding: 9px 4px;
            background-color: #F44336;
            border-radius: 50%;
            transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
        }
    }
    .layer{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: 0.3s ease all;
        background-color: #fcebeb;
        z-index: 1;
    }
}

//Button
.btn{
    display: inline-block;
    margin-top: 15px;
    font-weight: 400;
    font-size: 0.9rem;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: background 200ms;
    &-default{
        background-color: $color-white;
        color: $color-dark;
        border-color: $color-gray;
        padding: 6px 12px;
        &:hover{
            background-color: $color-white-active;
            color: $color-dark-active;
            border-color: $color-gray-active;
            transition: background 200ms;
        }
        &-gray{
            background-color: $color-gray;
            border-color: $color-gray-active;
        }
    }
    &-primary{
        background-color: $color-primary;
        color: #fff;
        border-color: $color-gray;
        padding: 6px 12px;
        &:hover{
            background-color: $color-primary-active;
            color: #fff;
            border-color: $color-gray-active;
            transition: background 200ms;
        }
    }
    &-main{
        background-color: $main-color;
        border-radius: 4px;
        border: 1px solid $main-color;
        &[type=submit], a{
            display: block;
            font-size: .8rem;
            color: #fff;
            padding: .5rem 1rem;
        }
        i{
            margin-left: 5px;
        }
        &:hover{
            background-color: $main-color-active;
            transition: background 200ms;
        }
    }
    &.inline{
        display: inline-block;
    }
    &.no-margin{
        margin-top: 0;
    }
}

//Error
.error{
    font-size: 0.75rem;
    font-weight: 600;
    color: $color-danger-active;
    &.italic{
        font-style: oblique;
    }
}

//Satus
table{
    td{
        padding: 0;
        .status{
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            margin-right: 1rem;
        }
    }
}
.status.active{
    background-color: $main-color-disabled;
}
.status.desactive{
    background-color: $main-color-active;
}