//import font
@import url("https://use.typekit.net/xtr6tty.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

//import file
@import 'tools';
@import 'adminTools';

//Global
html{
    font-size: 5px;
}
body, input, textarea, button{
    font-family: odisseia, sans-serif;
}
h1{
    font-size: $font_size_very_large;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h2{
    font-size: $font_size_large;
    font-weight: 300;
    letter-spacing: 1px;
}
.error{
    font-size: $font_size_little;
}

.cgv{
    margin: auto;
    width: 50%;
    ol{
        font-weight: 600;
        font-size: 5rem;
        h2{
            font-weight: 600;
            margin-bottom: 10px;
        }
        p, a, ul{
            font-weight: 400;
            font-size: 3rem;
        }
        >li{
            margin-bottom: 50px;
        }
    }
}

//Header
header{
    color: #fff;
    background-color: $primary_gray;
    >h1{
        text-align: center;
    }
    .navigation-manual{
        z-index: 1000;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 600px;
        left: 50%;
        transform: translateX(-50%);
    }
    .manual-btn{
        z-index: 100;
        border: 3px solid #fff;
        padding: 2px 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
        &:not(:last-child){
            margin-right: 40px;
        }
        &:hover{
            background-color: #fff;
        }
    }
}

//Slide
.slide{
    $time-anim : 30s;
    h2 ul{
        position: relative;
        margin: 0;
        padding: 0;
        display: inline-block;
        text-align: left;
        li{
            list-style: none;
        }
    }
    p{
        font-size: $font_size_little;
        font-weight: 300;
        letter-spacing: 1px;
    }
}
.slider{
    position: relative;
    height: 660px;
    text-align: center;
    overflow: hidden;
    input{
        display: none;
    }
    .slides{
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        .slide{
            z-index: 100;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            min-width: 100vw;
            transition: 1.5s;
        }
        .presentation{
            text-align: left;
            margin: 0 auto;
            max-width: 340px;
            h2{
                margin-bottom: 31px;
            }
        }
        .skills{
            h2{
                font-weight: 600;
                position: absolute;
                top: 75px;
                margin-left: 50%;
                transform: translateX(-50%);
            }
            &__block{
                display: flex;
                align-self: center;
                .html{
                    @include stat_bar(#F89D61, 96%);
                }
                .css{
                    @include stat_bar(#64BCFF, 92%);
                }
                .php{
                    @include stat_bar(#6E86FF, 55%);
                }
                .sql{
                    @include stat_bar(#fff, 53%);
                }
                .js{
                    @include stat_bar(#FFE26E, 30%);
                }
            }
        }
    }
}

#radio1:checked ~ .slogan{
    margin-left: 0;
}
#radio2:checked ~ .slogan{
    margin-left: -100vw;
}
#radio3:checked ~ .slogan{
    margin-left: -200vw;
}
.html[data-tooltip]:before {
    @include tooltip_stat(10px);
}
.css[data-tooltip]:before {
    @include tooltip_stat(85px); 
}
.php[data-tooltip]:before {
    @include tooltip_stat(160px); 
}
.sql[data-tooltip]:before {
    @include tooltip_stat(235px); 
}
.js[data-tooltip]:before {
    @include tooltip_stat(310px); 
}

[data-tooltip]:hover:before {
    opacity: 1;
    /* customizable */
    background: #fff;
    margin-top: -75px;
}

//Section projets
.project{
    z-index: 1000;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .card{
        margin-top: 16px;
        width: 300px;
        height: 475px;
        border-radius: 25px;
        box-shadow: rgba($color: #000000, $alpha: 0.16) 10px 10px 20px;
        a{
            text-decoration: none;
        }
        &__header{
            position: relative;
            width: 300px;
            height: 165px;
            overflow: hidden;
            &__img{
                border-radius: 25px 25px 0 0;
                width: 300px;
            }
            &__logo_git{
                z-index: 10000;
                display: inline-block;
                position: absolute;
                top: 0;
                right: 0;
                img{
                    width: 50px;
                }
            }
            &__tickets{
                position: absolute;
                bottom: 9px;
                >div{
                    display: inline-block;
                    font-size: $font_size_little;
                    color: #fff;
                    font-weight: 600;
                    font-style: italic;
                    width: 55px;
                    padding: 2px 0;
                    border-radius: 7px;
                    margin-left: 18px;
                }
                &__html{
                    background-color: #ffa36e;
                }
                &__php{
                    background-color: #6E86FF;
                }
                &__js{
                    background-color: #fdd844;
                }
                &__jsx{
                    background-color: #44c4ff;
                }
                &__cpp{
                    background-color: #2732cf;
                }
                &__sql{
                    background-color: #666666;
                }
            }
        }
        &__body{
            border-radius: 0 0 25px 25px;
            width: 300px;
            height: 259px;
            h2{
                margin: 14px 0;
            }
            p{
                font-size: $font_size_little;
                font-weight: 400;
                letter-spacing: 1px;
                padding: 0 15px;
                text-align: left;
                hyphens: auto;
            }
        }
    }
    h2{
        font-weight: 400;
    }
}

//Card
.btn_card{
    padding: 5px 10px;
    border: none;
}
.btn{
    margin-top: -10px;
    a{
        font-size: 3rem;
        font-weight: 800;
    }
    &__website{
        color: #fff;
        background-color: $color_btn;
        border-radius: 5px;
        border: $color_btn solid 2px;
        margin-right: 20px;
        transition: all .5s;
        &:hover{
            color: $color_btn;
            background-color: #fff;
            transition: all .5s;
        }
    }
    &__github{
        color: $color_btn;
        border: $color_btn solid 2px;
        border-radius: 5px;
        transition: all .5s;
        i{
            font-size: $font_size_large;
            vertical-align: middle;
            margin-right: 5px;
            transition: all .1s;
        }
        &:hover{
            color: #fff;
            background-color: $color_btn;
            transition: all .5s;
            i{
                color: #fff;
                transition: all .5s;
            }
        }
    }
}

//Section contact
.contact{    
    box-shadow: rgba($color: #000000, $alpha: 0.16) 0px 15px 20px inset;
    padding-bottom: 125px;
    color: $primary_gray;
    background-color: #eee;
    h1{
        text-align: center;
        margin-bottom: 50px;
        padding-top: 80px;
    }
    form{
        margin: 0 auto;
        max-width: 1100px;
    }
    label{
        @include center_form();
        font-size: 2.7rem;
        font-weight: 400;
        letter-spacing: 2px;
        margin-top: 20px;
        margin-bottom: 13px;
        input{
            @include center_form();
            font-size: 3rem;
            width: 100%;
            height: 25px;
            outline: none;
            border: none;
            background-color: #fff;
            margin-top: 7px
        }
    }
    textarea{
        @include center_form();
        font-size: 3rem;
        width: 100%;
        height: 100px;
        outline: none;
        border: none;
        background-color: #fff;
        margin-top: 7px;
        resize: none;
    }
    .submit_btn{
        label{
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;
            bottom: -40px;
            left: 50%;
            transform: translateX(-50%);
            color: $color_btn;
            width: 200px;
            height: 50px;
            background-color: transparent;
            border: 2px solid $color_btn;
            border-radius: 10px;
            font-size: $font_size_medium;
            transition: all .5s;
            input{
                font-size: $font_size_medium;
                color: $color_btn;
                width: 100px;
                display: inline-block;
                margin: 0;
                padding: 0;
                background-color: transparent;
                cursor: pointer;
            }
            &:hover{
                background-color: $color_btn;
                color: #fff;
                transition: all .5s;
                input{
                    color: #fff;
                    transition: all .5s;
                }
            }
        }
    } 
}

//Footer
footer{
    background-color: $primary_gray;
    height: 100px;
    display: flex;
    align-items: center;
    ul{
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    li{
        display: inline-block;
        color: #fff;
        font-size: 3rem;
        list-style-type: none;
        a{
            color: #fff;
            text-decoration: none;
        }
        .fa{
            font-size: $font_size_very_large;
            vertical-align: middle;
        }
    }
}
.bar{
    z-index: 1000;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 25px;
    background-color: rgba($color: #fff, $alpha: .9);
    &__dashboard{
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        height: 40px;
        button{
            color: #fff;
            font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
            display: inline-block;
            font-weight: 400;
            font-size: 3rem;
            cursor: pointer;
            background-image: none;
            border-radius: 3px;
            background-color: $main-color;
            border: 1px solid $main-color;
            transition: background 200ms;
            padding: 0;
            a, &[type=submit]{
                padding: .5rem 2rem;
                color: #fff;
                text-decoration: none;
            }
            &:hover{
                background-color: $main-color-active;
                transition: background 200ms;
            }
        }
    }
}