.panel {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}
.panel table {
  border-collapse: collapse;
  width: 100%;
}
.panel table thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}
.panel table thead td {
  padding: 0.5rem 1rem;
  font-weight: 700;
}
.panel table tbody tr {
  transition: background 200ms;
}
.panel table tbody tr a {
  padding: 0.5rem 1rem;
  display: block;
  color: #222;
  font-size: 0.9rem;
}
.panel table tbody tr td:last-child {
  display: flex;
  align-items: center;
}
.panel table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background 200ms;
}
.panel__header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.panel__header .btn {
  margin-top: 0;
}
.panel__body {
  padding: 1rem;
}
.panel__body.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel__body.img [type=file] {
  display: none;
}
.panel__body .img__label {
  position: relative;
  display: block;
  border: 1px solid #d9d9d9;
  padding: 5px 8px;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  color: #8390A2;
  transition: border-color 200ms, color 200ms;
}
.panel__body .img__label::after {
  content: "Browse";
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: #059475;
  padding: 5px 8px;
  border-radius: 0 3px 3px 0;
  transition: background 200ms;
}
.panel__body .img__label:hover {
  border-color: #bfbfbf;
  color: #586474;
  transition: border-color 200ms, color 200ms;
}
.panel__body .img__label:hover::after {
  background-color: #04765d;
  transition: background 200ms;
}
.panel__body img {
  display: block;
  border-radius: 3px;
  max-width: 400px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 900px) {
  .panel-mobile > div {
    grid-template-columns: repeat(1, 1fr);
  }
  .panel-mobile > div .panel__body img {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .mobile .panel__header {
    border: none;
  }
  .mobile table, .mobile thead, .mobile tbody, .mobile th, .mobile td, .mobile tr {
    display: block;
  }
  .mobile thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .mobile tr {
    border: 1px solid #e0e0e0;
    margin: -1px 10px 0 10px;
  }
  .mobile td {
    border: none;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  .mobile td::before {
    content: attr(data-title);
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: 600;
  }
}
.fields {
  margin-bottom: 15px;
}
.fields label {
  display: block;
  font-weight: 700;
}
.fields label.header {
  background-color: rgba(5, 148, 117, 0.3);
  border: 1px solid rgba(4, 118, 93, 0.15);
  border-radius: 3px 3px 0 0;
  padding: 6px 12px;
}
.fields label.header + input.allWidth {
  width: 100%;
}
.fields input, .fields textarea {
  font-size: 1rem;
  padding: 5px 8px;
  margin-top: 5px;
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  box-sizing: border-box;
  transition: border-color 300ms;
}
.fields input:focus, .fields textarea:focus {
  border-color: rgba(6, 177, 140, 0.75);
  transition: border-color 300ms;
}
.fields input {
  width: 300px;
}
.fields textarea {
  height: 200px;
  width: 100%;
  resize: none;
}

.checkbox {
  margin-bottom: 10px;
  display: inline-block;
}
.checkbox [type=checkbox] {
  display: none;
}
.checkbox label {
  margin-left: 10px;
  background-color: #8390A2;
  border: 1px solid #586474;
  padding: 0.05rem 0.4rem;
  border-radius: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.checkbox [for=html-css] {
  background-color: rgba(53, 174, 204, 0.1);
  border-color: rgba(53, 174, 204, 0.2);
}
.checkbox [for=js] {
  background-color: rgba(218, 221, 53, 0.1);
  border-color: rgba(218, 221, 53, 0.2);
}
.checkbox [for=jsx] {
  background-color: rgba(22, 199, 243, 0.1);
  border-color: rgba(22, 199, 243, 0.2);
}
.checkbox [for=php] {
  background-color: rgba(46, 93, 196, 0.1);
  border-color: rgba(46, 93, 196, 0.2);
}
.checkbox [for=sql] {
  background-color: rgba(170, 97, 29, 0.1);
  border-color: rgba(170, 97, 29, 0.2);
}
.checkbox [for=cpp] {
  background-color: rgba(29, 67, 170, 0.1);
  border-color: rgba(29, 67, 170, 0.2);
}
.checkbox [type=checkbox]:checked + [for=html-css] {
  background-color: rgba(53, 174, 204, 0.5);
  border-color: #35aecc;
}
.checkbox [type=checkbox]:checked + [for=js] {
  background-color: rgba(218, 221, 53, 0.5);
  border-color: #dadd35;
}
.checkbox [type=checkbox]:checked + [for=jsx] {
  background-color: rgba(22, 199, 243, 0.5);
  border-color: #16c7f3;
}
.checkbox [type=checkbox]:checked + [for=php] {
  background-color: rgba(46, 93, 196, 0.5);
  border-color: #2e5dc4;
}
.checkbox [type=checkbox]:checked + [for=sql] {
  background-color: rgba(170, 97, 29, 0.5);
  border-color: #aa611d;
}
.checkbox [type=checkbox]:checked + [for=cpp] {
  background-color: rgba(29, 67, 170, 0.5);
  border-color: #1d43aa;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  font-weight: 400;
  font-size: 0.9rem;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: background 200ms;
}
.btn-default {
  background-color: whitesmoke;
  color: #1D2231;
  border-color: #d9d9d9;
  padding: 6px 12px;
}
.btn-default:hover {
  background-color: #ededed;
  color: #262626;
  border-color: #bfbfbf;
  transition: background 200ms;
}
.btn-default-gray {
  background-color: #d9d9d9;
  border-color: #bfbfbf;
}
.btn-primary {
  background-color: #3c8ebe;
  color: #fff;
  border-color: #d9d9d9;
  padding: 6px 12px;
}
.btn-primary:hover {
  background-color: #367da6;
  color: #fff;
  border-color: #bfbfbf;
  transition: background 200ms;
}
.btn-main {
  background-color: #059475;
  border-radius: 4px;
  border: 1px solid #059475;
}
.btn-main[type=submit], .btn-main a {
  display: block;
  font-size: 0.8rem;
  color: #fff;
  padding: 0.5rem 1rem;
}
.btn-main i {
  margin-left: 5px;
}
.btn-main:hover {
  background-color: #04765d;
  transition: background 200ms;
}

.error {
  font-size: 0.75rem;
  font-weight: 600;
  color: #f35239;
}