@media (min-width: 900px) {
  /*Global*/
  body, header, h1, h2, h3, h4, h4, h6, p {
    margin: 0;
    padding: 0;
  }

  /*alexrobert.fr*/
  /*automatix*/
  @import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;500&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
  h1 {
    font-size: 8rem;
  }

  .slogan h2 {
    font-size: 8rem;
  }
  .slogan p {
    font-size: 4rem;
  }

  .skills__block {
    display: flex;
    align-self: center;
    transform: rotate(90deg);
  }

  .project .cards {
    display: flex;
    justify-content: space-between;
    margin: 16px auto 0 auto;
    max-width: 1100px;
  }

  .contact form {
    position: relative;
    display: grid;
    grid-template: "left right" "left right" "msg msg";
    margin: 0 auto;
    row-gap: 20px;
    -moz-column-gap: 200px;
         column-gap: 200px;
  }
  .contact form label {
    width: 100%;
    margin: 0 auto;
  }
  .contact form label[for=message], .contact form textarea {
    grid-area: msg;
  }
  .contact form .submit_btn label {
    position: absolute;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);
  }
}